:root{
  --primary-bright-orange:#ff8800;
  --primary-fade-orange:#ffaa4d;

  --neutral-deep-blue:#0d0d25;
  --neutral-blue-gray:#505161;
  --neutral-light-gray:#dfdfdf;
  --neutral-white:#f4f2f2;

  --font-size-large: 3.5rem;
  --font-size-big: 2.5rem;
  --font-size-mid: 1.875rem;
  --font-size-normal: 1.3rem;
}
/* hero */
main{
  background-image: url(/images/1703258256_gagaru-club-p-fon-yeda-vkontakte-80.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /* object-fit: fill; */
  /* background: rgb(227,236,241);
  background: linear-gradient(79deg, rgba(227,236,241,1) 16%, rgba(244,248,249,1) 75%); */
  margin-inline: auto;
  height: 90vh;
  padding: 0 10rem;
}
.hero{
  padding-top: 10%;
}
/* nav */
.hero__nav{
  padding: 1.8rem 0;
  display: flex;
  justify-content: end;
}
.hero__nav__link{
  font-size: var(--font-size-mid);
  font-weight: 600;
  display: inline-block;
  margin-right: var(--font-size-big);
  transition: 0.3s ease;
}
.hero__nav__link:hover{
  color: var(--primary-bright-orange);
}
.hero__nav__icons {
  display: flex;
  justify-content: center;
  gap: var(--font-size-big);
}
.hero__nav__icons svg{
  color: var(--neutral-blue-gray);
  width: 36px;
  transition: 0.3s ease;
}
.hero__nav__icons svg:hover{
  color: var(--primary-bright-orange);
}
.icon-cart-container{
  position: relative;
}
.icon-cart-modal{
  padding: 0.025em 0.575em;
  background-color: #fff;
  color: var(--primary-bright-orange);
  font-weight: 600;
  border: 1px solid var(--neutral-light-gray);
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -15px
}
/* hero form */
#search{
  color: var(--neutral-light-gray);
  font: var(--font-size-mid);
  width: 30%;
  padding: 1rem 3rem;
  border-radius: 8px 0 0 8px;
  border: 2px solid var(--neutral-light-gray);
}
input[type="search"]:focus {
  border: 3px solid #ff8800;
}
.hero__content__form input[type=submit]{
  cursor: pointer;
  background-color: var(--primary-bright-orange);
  color: var(--neutral-white);
  font-size: var(--font-size-normal);
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 0.775rem 3rem;
  transition: 0.3s ease;
}
.hero__content__form input[type=submit]:hover{
  background-color: var(--primary-fade-orange);
}
.hero__content__form::after{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M12 16L6 10H18L12 16Z'%3E%3C/path%3E%3C/svg%3E");;
  display: inline-block;
  transform: translateX(-46px);
  width: 27px;
}
/* hero follower count */
.hero__content__followers{
  display: flex;
  gap: var(--font-size-large);
  margin-top: var(--font-size-mid);
}
.followers-container{
  display: flex;
  align-items: center;
}
.followers-container span{
  display: block;
  font-size: var(--font-size-normal);
  font-weight: 600;
  margin-left: 0.575rem;
}